
<nz-table  nzSize="middle" [nzData]="ourTeam">
  <thead>
  <tr>
    <th nzWidth="15%">Name</th>
     <th nzWidth="20%">Prof</th>
     <th nzWidth="20%">Image</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of ourTeam">
    <td>{{ data.name }}</td>
    <td>{{ data.prof }}</td>
    <td><img src="{{data.image}}" alt="" width="150" height="120"  ></td>
    <td>
      <div class="editable-row-operations">
        <ng-container>
          <a routerLink="/team-update"
             [queryParams]="{name: data.name, prof: data.prof, image: data.image, id: data.id}">Edit</a>
        </ng-container>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
