.editable-row-operations a {
  margin-right: 8px;
}

button {
  margin-bottom: 16px;
  margin-top: 30px;
}

i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}
button {
  margin-bottom: 16px;
}
